html, body {
  height: 100%;
  margin: 0;
  background-color: #C9D6DF;
}

p{
  margin: 2px;
}

h4{
  margin: 3px;
}


.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-container{
  border: 2px solid #1E2022;
  display: flex;
  flex: 1 0 5%;
  align-items: center;
  justify-content: space-between;
}

.header-left{
  margin-left: 4px;
}

.header-right{
  margin-right: 4px;
}

.header-left, .header-right, .header-center{
  font-weight: 500;
}

.chat-box-container{
  display: flex;
  border: 2px solid #1E2022;
  flex: 1 0 89%;
  flex-direction: column;
  overflow-y: scroll;
}

.cl{
  display: flex;
  flex-direction: column;
}

#chat-left{
  align-items: flex-start;
}

#chat-right{
  align-items: flex-end;
}

.user-message{
  display: flex;
  margin: 3px 5px;
}

.user-profile-picture{
  display: flex;
}

.profile-picture, .user-profile-picture{
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.message-bar{
  display: flex;
  min-height: 32px;
}

.login-container{
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login{
  border: 2px solid #1E2022;
  background-color: #F0F5F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  max-width: 300px;
  min-width: 200px;
}

.bottom-button, .top-button{
  min-width: 75px;
  margin: 2px 0 6px 0;
}

.sign-up{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-input{
  flex: 1 0 80%;
  /* min-width: 40%; */
  overflow-x: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.message-sender{
  margin-left: 7px;
  font-weight: 700;
  color: #52616B;
}

.message-text{
  margin-left: 7px;

}